*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
a{
	text-decoration: none;
    color: #333;
    outline: none;
}
ul{
	list-style: none;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
input,button{
	outline: none;
}
img{
	border-radius: 3px;
	overflow: hidden;
}
